extends layout

block content
    div(ng-controller="indexController", ng-init="init()")
      .ui.one.column.stackable.center.aligned.page.grid.margin-30
        .column.twelve.wide
          .ui.stacked.segment.gameArea(ng-click="onClickGameArea($event)")
            
            .circle(
              ng-repeat="player in players"
              ng-style="{ 'left': player.position.x + 'px', 'top': player.position.y + 'px', 'background-color': player.color }"
              id="{{ player.id }}"
            )
              .relative
                span.name {{ player.username }}
                .message
          .ui.items.chat#chat-area
            .item(ng-repeat="message in messages")
              .content(ng-if="message.type.code === 0")
                span [SERVER] &nbsp;
                a.header.name {{ message.username }} &nbsp;
                .description.message(ng-if="message.type.message === 1")
                  | kat覺ld覺
                .description.message(ng-if="message.type.message === 0")
                  | ayr覺ld覺

              .content(ng-if="message.type.code === 1")
                a.header.name {{ message.username }} &nbsp;
                .description.message
                  | {{ message.type.message }}
          form.ui.action.input.fluid(ng-submit="newMessage()")
            input(type='text', placeholder='Type here...', ng-model='message')
            button.ui.button(type="submit") Send
